#### (1) Match Results Data processing

In [1]:
# important necessary libraries
import pandas as pd
import json

In [50]:
with open('IPL2024_DATASET/ipl_2024_match_results.json', 'r') as f:
	data = json.load(f)
match_df = pd.DataFrame(data['matchSummary'])
match_df

,team1,team2,winner,margin,ground,matchDate,scorecard
0,KKR,SRH,KKR,8 wickets,Chennai,"May 26, 2024",Twenty20
1,RR,SRH,SRH,36 runs,Chennai,"May 24, 2024",Twenty20
2,RR,RCB,RR,4 wickets,Ahmedabad,"May 22, 2024",Twenty20
3,KKR,SRH,KKR,8 wickets,Ahmedabad,"May 21, 2024",Twenty20
4,RR,KKR,no result,-,Guwahati,"May 19, 2024",Twenty20
...,...,...,...,...,...,...,...
67,GT,MI,GT,6 runs,Ahmedabad,"Mar 24, 2024",Twenty20
68,RR,LSG,RR,20 runs,Jaipur,"Mar 24, 2024",Twenty20
69,KKR,SRH,KKR,4 runs,Eden Gardens,"Mar 23, 2024",Twenty20
70,Punjab Kings,DC,Punjab Kings,4 wickets,Mullanpur,"Mar 23, 2024",Twenty20
71,CSK,RCB,CSK,6 wickets,Chennai,"Mar 22, 2024",Twenty20

In [51]:
match_df.shape

(72, 7)

In [52]:
match_df.rename({'scorecard':'match_id'}, axis=1, inplace=True)

In [53]:
match_df = match_df.iloc[::-1].reset_index(drop=True)

In [54]:
match_df['match_id'] = range(1, len(match_df) + 1)

In [55]:
# Initialize a dictionary to keep track of match IDs
match_id_dict = {}
match_id_counter = 1

# Function to generate match ID
def get_match_id(row):
    global match_id_counter
    match_tuple = tuple(sorted([row['team1'], row['team2']]))
    if match_tuple not in match_id_dict:
        match_id_dict[match_tuple] = match_id_counter
        match_id_counter += 1
    return match_id_dict[match_tuple]

# Apply the function to create the match_id column
match_df['match_id'] = match_df.apply(get_match_id, axis=1)

# team name change from short to full
team_name_mappings = {
    'MI': 'Mumbai Indians',
    'CSK': 'Chennai Super Kings',
    'RCB': 'Royal Challengers Bengaluru',
    'KKR': 'Kolkata Knight Riders',
	'SRH': 'Sunrisers Hyderabad',
	'RR': 'Rajasthan Royals',
	'DC': 'Delhi Capitals',
	'LSG': 'Lucknow Super Giants',
	'GT' : 'Gujarat Titans',
	'Punjab Kings': 'Punjab Kings'
}

match_df['team1'] = match_df['team1'].map(team_name_mappings)
match_df['team2'] = match_df['team2'].map(team_name_mappings)
match_df['winner'] = match_df['winner'].map(team_name_mappings)
match_df

,team1,team2,winner,margin,ground,matchDate,match_id
0,Chennai Super Kings,Royal Challengers Bengaluru,Chennai Super Kings,6 wickets,Chennai,"Mar 22, 2024",1
1,Punjab Kings,Delhi Capitals,Punjab Kings,4 wickets,Mullanpur,"Mar 23, 2024",2
2,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,4 runs,Eden Gardens,"Mar 23, 2024",3
3,Rajasthan Royals,Lucknow Super Giants,Rajasthan Royals,20 runs,Jaipur,"Mar 24, 2024",4
4,Gujarat Titans,Mumbai Indians,Gujarat Titans,6 runs,Ahmedabad,"Mar 24, 2024",5
...,...,...,...,...,...,...,...
67,Rajasthan Royals,Kolkata Knight Riders,NaN,-,Guwahati,"May 19, 2024",31
68,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,8 wickets,Ahmedabad,"May 21, 2024",3
69,Rajasthan Royals,Royal Challengers Bengaluru,Rajasthan Royals,4 wickets,Ahmedabad,"May 22, 2024",19
70,Rajasthan Royals,Sunrisers Hyderabad,Sunrisers Hyderabad,36 runs,Chennai,"May 24, 2024",40
71,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,8 wickets,Chennai,"May 26, 2024",3

In [60]:
match_ids_dict = {}

for index, row in match_df.iterrows():
	key1 = row['team1'] + ' Vs ' + row['team2']
	key2 = row['team2'] + ' Vs ' + row['team1']
	# match_ids_dict[row['team1'] + " Vs " + row['team2']] = row['match_id']
	if key1 not in match_ids_dict.keys():
		match_ids_dict[key1] = row['match_id']
		
	if key2 not in match_ids_dict.keys():
		match_ids_dict[key2] = row['match_id']
		
match_ids_dict

{'Chennai Super Kings Vs Royal Challengers Bengaluru': 1,
 'Royal Challengers Bengaluru Vs Chennai Super Kings': 1,
 'Punjab Kings Vs Delhi Capitals': 2,
 'Delhi Capitals Vs Punjab Kings': 2,
 'Kolkata Knight Riders Vs Sunrisers Hyderabad': 3,
 'Sunrisers Hyderabad Vs Kolkata Knight Riders': 3,
 'Rajasthan Royals Vs Lucknow Super Giants': 4,
 'Lucknow Super Giants Vs Rajasthan Royals': 4,
 'Gujarat Titans Vs Mumbai Indians': 5,
 'Mumbai Indians Vs Gujarat Titans': 5,
 'Royal Challengers Bengaluru Vs Punjab Kings': 6,
 'Punjab Kings Vs Royal Challengers Bengaluru': 6,
 'Chennai Super Kings Vs Gujarat Titans': 7,
 'Gujarat Titans Vs Chennai Super Kings': 7,
 'Sunrisers Hyderabad Vs Mumbai Indians': 8,
 'Mumbai Indians Vs Sunrisers Hyderabad': 8,
 'Rajasthan Royals Vs Delhi Capitals': 9,
 'Delhi Capitals Vs Rajasthan Royals': 9,
 'Royal Challengers Bengaluru Vs Kolkata Knight Riders': 10,
 'Kolkata Knight Riders Vs Royal Challengers Bengaluru': 10,
 'Lucknow Super Giants Vs Punjab Kings': 11,
 'Punjab Kings Vs Lucknow Super Giants': 11,
 'Gujarat Titans Vs Sunrisers Hyderabad': 12,
 'Sunrisers Hyderabad Vs Gujarat Titans': 12,
 'Delhi Capitals Vs Chennai Super Kings': 13,
 'Chennai Super Kings Vs Delhi Capitals': 13,
 'Mumbai Indians Vs Rajasthan Royals': 14,
 'Rajasthan Royals Vs Mumbai Indians': 14,
 'Royal Challengers Bengaluru Vs Lucknow Super Giants': 15,
 'Lucknow Super Giants Vs Royal Challengers Bengaluru': 15,
 'Delhi Capitals Vs Kolkata Knight Riders': 16,
 'Kolkata Knight Riders Vs Delhi Capitals': 16,
 'Gujarat Titans Vs Punjab Kings': 17,
 'Punjab Kings Vs Gujarat Titans': 17,
 'Sunrisers Hyderabad Vs Chennai Super Kings': 18,
 'Chennai Super Kings Vs Sunrisers Hyderabad': 18,
 'Rajasthan Royals Vs Royal Challengers Bengaluru': 19,
 'Royal Challengers Bengaluru Vs Rajasthan Royals': 19,
 'Mumbai Indians Vs Delhi Capitals': 20,
 'Delhi Capitals Vs Mumbai Indians': 20,
 'Lucknow Super Giants Vs Gujarat Titans': 21,
 'Gujarat Titans Vs Lucknow Super Giants': 21,
 'Chennai Super Kings Vs Kolkata Knight Riders': 22,
 'Kolkata Knight Riders Vs Chennai Super Kings': 22,
 'Punjab Kings Vs Sunrisers Hyderabad': 23,
 'Sunrisers Hyderabad Vs Punjab Kings': 23,
 'Rajasthan Royals Vs Gujarat Titans': 24,
 'Gujarat Titans Vs Rajasthan Royals': 24,
 'Mumbai Indians Vs Royal Challengers Bengaluru': 25,
 'Royal Challengers Bengaluru Vs Mumbai Indians': 25,
 'Lucknow Super Giants Vs Delhi Capitals': 26,
 'Delhi Capitals Vs Lucknow Super Giants': 26,
 'Punjab Kings Vs Rajasthan Royals': 27,
 'Rajasthan Royals Vs Punjab Kings': 27,
 'Kolkata Knight Riders Vs Lucknow Super Giants': 28,
 'Lucknow Super Giants Vs Kolkata Knight Riders': 28,
 'Mumbai Indians Vs Chennai Super Kings': 29,
 'Chennai Super Kings Vs Mumbai Indians': 29,
 'Royal Challengers Bengaluru Vs Sunrisers Hyderabad': 30,
 'Sunrisers Hyderabad Vs Royal Challengers Bengaluru': 30,
 'Kolkata Knight Riders Vs Rajasthan Royals': 31,
 'Rajasthan Royals Vs Kolkata Knight Riders': 31,
 'Gujarat Titans Vs Delhi Capitals': 32,
 'Delhi Capitals Vs Gujarat Titans': 32,
 'Punjab Kings Vs Mumbai Indians': 33,
 'Mumbai Indians Vs Punjab Kings': 33,
 'Lucknow Super Giants Vs Chennai Super Kings': 34,
 'Chennai Super Kings Vs Lucknow Super Giants': 34,
 'Delhi Capitals Vs Sunrisers Hyderabad': 35,
 'Sunrisers Hyderabad Vs Delhi Capitals': 35,
 'Kolkata Knight Riders Vs Punjab Kings': 36,
 'Punjab Kings Vs Kolkata Knight Riders': 36,
 'Gujarat Titans Vs Royal Challengers Bengaluru': 37,
 'Royal Challengers Bengaluru Vs Gujarat Titans': 37,
 'Lucknow Super Giants Vs Mumbai Indians': 38,
 'Mumbai Indians Vs Lucknow Super Giants': 38,
 'Chennai Super Kings Vs Punjab Kings': 39,
 'Punjab Kings Vs Chennai Super Kings': 39,
 'Sunrisers Hyderabad Vs Rajasthan Royals': 40,
 'Rajasthan Royals Vs Sunrisers Hyderabad': 40,
 'Mumbai Indians Vs Kolkata Knight Riders': 41,
 'Kolkata Knight Riders Vs Mumbai Indians': 41,
 'Sunrisers Hyderabad Vs Lucknow Super Giants': 42,
 'Lucknow Super Giants Vs Sunrisers Hyderabad': 42,
 'Chennai Super Kings Vs Rajasthan Royals': 43,
 'Rajasthan Royals Vs Chennai Super Kings': 43,
 'Royal Challengers Bengaluru Vs Delhi Capitals': 44,
 'Delhi Capitals Vs Royal Challengers Bengaluru': 44}

In [68]:
match_df.to_csv('IPL2024_CSV_FILES/match_summary.csv', index = False)

#### (2) Batting Summary

In [61]:
with open('IPL2024_DATASET/ipl_2024_batting_summary_data.json', 'r') as f:
	data = json.load(f)
	
	all_records = []
	for record in data:
		all_records.extend(record['battingSummary'])
		
df_batting = pd.DataFrame(all_records)
df_batting = df_batting.iloc[::-1].reset_index(drop=True)
df_batting

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,6,Ravindra Jadeja,not out,25,17,0,1,147.05
1,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,5,Shivam Dube,not out,34,28,4,1,121.42
2,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,4,Daryl Mitchell,c Patidar b Green,22,18,0,2,122.22
3,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,3,Ajinkya Rahane,c Maxwell b Green,27,19,0,2,142.10
4,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,2,Rachin Ravindra,c Patidar b Sharma,37,15,3,3,246.66
...,...,...,...,...,...,...,...,...,...,...
1124,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,5,Nitish Kumar Reddy,c †Rahmanullah Gurbaz b Harshit Rana,13,10,1,1,130.00
1125,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,4,Aiden Markram,c Starc b Russell,20,23,3,0,86.95
1126,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,3,Rahul Tripathi,c Ramandeep Singh b Starc,9,13,1,0,69.23
1127,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,2,Travis Head,c †Rahmanullah Gurbaz b Arora,0,1,0,0,0.00
1128,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,1,Abhishek Sharma,b Starc,2,5,0,0,40.00

In [62]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x : "not_out" if x == "not out" else "out")
df_batting.head(15)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,6,Ravindra Jadeja,not out,25,17,0,1,147.05,not_out
1,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,5,Shivam Dube,not out,34,28,4,1,121.42,not_out
2,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,4,Daryl Mitchell,c Patidar b Green,22,18,0,2,122.22,out
3,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,3,Ajinkya Rahane,c Maxwell b Green,27,19,0,2,142.10,out
4,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,2,Rachin Ravindra,c Patidar b Sharma,37,15,3,3,246.66,out
5,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,1,Ruturaj Gaikwad (c),c Green b Yash Dayal,15,15,3,0,100.00,out
6,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,7,Dinesh Karthik,not out,38,26,3,2,146.15,not_out
7,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,6,Anuj Rawat †,run out (†Dhoni),48,25,4,3,192.00,out
8,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,5,Cameron Green,b Mustafizur Rahman,18,22,1,0,81.81,out
9,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,4,Glenn Maxwell,c †Dhoni b Chahar,0,1,0,0,0.00,out
10,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,3,Rajat Patidar,c †Dhoni b Mustafizur Rahman,0,3,0,0,0.00,out
11,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,2,Faf du Plessis (c),c Ravindra b Mustafizur Rahman,35,23,8,0,152.17,out
12,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,1,Virat Kohli,c Ravindra b Mustafizur Rahman,21,20,0,1,105.00,out
13,Delhi Capitals Vs Punjab Kings,Punjab Kings,8,Harpreet Brar,not out,2,2,0,0,100.00,not_out
14,Delhi Capitals Vs Punjab Kings,Punjab Kings,7,Shashank Singh,c †Pant b Ahmed,0,1,0,0,0.00,out

In [63]:
df_batting.drop(columns=['dismissal'], inplace=True)

In [64]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x : x.replace('†', ''))

In [65]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x : x.replace(' ', ' '))

In [66]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)

In [67]:
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,6,Ravindra Jadeja,25,17,0,1,147.05,not_out,1
1,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,5,Shivam Dube,34,28,4,1,121.42,not_out,1
2,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,4,Daryl Mitchell,22,18,0,2,122.22,out,1
3,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,3,Ajinkya Rahane,27,19,0,2,142.10,out,1
4,Royal Challengers Bengaluru Vs Chennai Super K...,Chennai Super Kings,2,Rachin Ravindra,37,15,3,3,246.66,out,1
...,...,...,...,...,...,...,...,...,...,...,...
1124,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,5,Nitish Kumar Reddy,13,10,1,1,130.00,out,3
1125,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,4,Aiden Markram,20,23,3,0,86.95,out,3
1126,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,3,Rahul Tripathi,9,13,1,0,69.23,out,3
1127,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,2,Travis Head,0,1,0,0,0.00,out,3
1128,Sunrisers Hyderabad Vs Kolkata Knight Riders,Sunrisers Hyderabad,1,Abhishek Sharma,2,5,0,0,40.00,out,3

In [69]:
df_batting.to_csv('IPL2024_CSV_FILES/bating_summary.csv', index = False)

#### (3) Bowling Summary

In [72]:
with open('IPL2024_DATASET/ipl_2024_bowling_summary_data.json', 'r') as f:
	data = json.load(f)
	
	all_bowling_records = []
	for record in data:
		all_bowling_records.extend(record['bowlingSummary'])
		
df_bowling = pd.DataFrame(all_bowling_records)
df_bowling = df_bowling.iloc[::-1].reset_index(drop=True)
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Glenn Maxwell,1,0,7,0,7.00,4,0,1,0,0
1,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Cameron Green,3,0,27,2,9.00,5,1,1,3,0
2,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Mayank Dagar,2,0,6,0,3.00,6,0,0,0,0
3,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Karn Sharma,2,0,24,1,12.00,4,0,3,0,0
4,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Alzarri Joseph,3.4,0,38,0,10.36,5,1,2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Andre Russell,2.3,0,19,3,7.60,7,1,1,1,0
853,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Sunil Narine,4,0,16,1,4.00,9,0,0,0,0
854,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Harshit Rana,4,1,24,2,6.00,13,2,1,1,0
855,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Vaibhav Arora,3,0,24,1,8.00,9,2,1,4,0
856,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Mitchell Starc,3,0,14,2,4.66,11,2,0,0,0

In [73]:
print(df_bowling.shape)
df_bowling.head()

(857, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Glenn Maxwell,1,0,7,0,7.00,4,0,1,0,0
1,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Cameron Green,3,0,27,2,9.00,5,1,1,3,0
2,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Mayank Dagar,2,0,6,0,3.00,6,0,0,0,0
3,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Karn Sharma,2,0,24,1,12.00,4,0,3,0,0
4,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Alzarri Joseph,3.4,0,38,0,10.36,5,1,2,4,0

In [75]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Glenn Maxwell,1,0,7,0,7.00,4,0,1,0,0,1
1,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Cameron Green,3,0,27,2,9.00,5,1,1,3,0,1
2,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Mayank Dagar,2,0,6,0,3.00,6,0,0,0,0,1
3,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Karn Sharma,2,0,24,1,12.00,4,0,3,0,0,1
4,Royal Challengers Bengaluru Vs Chennai Super K...,Royal Challengers Bengaluru,Alzarri Joseph,3.4,0,38,0,10.36,5,1,2,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Andre Russell,2.3,0,19,3,7.60,7,1,1,1,0,3
853,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Sunil Narine,4,0,16,1,4.00,9,0,0,0,0,3
854,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Harshit Rana,4,1,24,2,6.00,13,2,1,1,0,3
855,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Vaibhav Arora,3,0,24,1,8.00,9,2,1,4,0,3
856,Sunrisers Hyderabad Vs Kolkata Knight Riders,Kolkata Knight Riders,Mitchell Starc,3,0,14,2,4.66,11,2,0,0,0,3

In [76]:
df_bowling.to_csv('IPL2024_CSV_FILES/bowling_summary.csv', index = False)

#### (4) Process Players Information

In [36]:
with open('IPL2024_DATASET/ipl_2024_players_info.json', 'r') as f:
	data = json.load(f)

df_players = pd.DataFrame(data)
df_players

,name,image,team,battingStyle,bowlingStyle,playingRole,description
0,Abhishek Sharma,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Left hand Bat,Slow Left arm Orthodox,Allrounder,Abhishek Sharma IPL factfile- Abhishek Sharma ...
1,Travis Head,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Left hand Bat,Right arm Offbreak,Top order Batter,"A talented, aggressive left-hand batter earmar..."
2,Rahul Tripathi,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Medium,Top order Batter,"A technically correct middle-order batter, Rah..."
3,Aiden Markram,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Offbreak,Opening Batter,The first South Africa captain to win a World ...
4,Nitish Kumar Reddy,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Medium fast,Batting Allrounder,Nitish Kumar Reddy first made headlines when h...
...,...,...,...,...,...,...,...
322,"Sumit Kumar,","https://img1.hscicdn.com/image/upload/f_auto,t...",Delhi Capitals,Right hand Bat,Right arm Medium fast,Allrounder,
323,Shams Mulani,"https://img1.hscicdn.com/image/upload/f_auto,t...",Mumbai Indians,Left hand Bat,Slow Left arm Orthodox,Allrounder,
324,Umran Malik,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Fast,Bowler,
325,"Yuzvendra Chahal,","https://img1.hscicdn.com/image/upload/f_auto,t...",Rajasthan Royals,Right hand Bat,Legbreak Googly,Bowler,Yuzvendra Chahal player profileYuzvendra Chaha...
326,"Maheesh Theekshana,","https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings,Right hand Bat,Right arm Offbreak,Bowler,

In [37]:
df_players['name'] = df_players['name'].str.replace(r'[† ,(c)â€Â]', '', regex=True)

In [38]:
df_players['name'] = df_players['name'].str.strip()
df_players = df_players.drop_duplicates()

In [39]:
df_players

,name,image,team,battingStyle,bowlingStyle,playingRole,description
0,Abhishek Sharma,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Left hand Bat,Slow Left arm Orthodox,Allrounder,Abhishek Sharma IPL factfile- Abhishek Sharma ...
1,Travis Head,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Left hand Bat,Right arm Offbreak,Top order Batter,"A talented, aggressive left-hand batter earmar..."
2,Rahul Tripathi,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Medium,Top order Batter,"A technically correct middle-order batter, Rah..."
3,Aiden Markram,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Offbreak,Opening Batter,The first South Africa captain to win a World ...
4,Nitish Kumar Reddy,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Medium fast,Batting Allrounder,Nitish Kumar Reddy first made headlines when h...
...,...,...,...,...,...,...,...
314,Kwena Maphaka,"https://img1.hscicdn.com/image/upload/f_auto,t...",Mumbai Indians,Left hand Bat,Left arm Medium,Bowler,
318,Alzarri Joseph,"https://img1.hscicdn.com/image/upload/f_auto,t...",Royal Challengers Bengaluru,Right hand Bat,Right arm Fast,Bowler,Tall fast bowler Alzarri Joseph started out as...
321,Riky Bhui,"https://img1.hscicdn.com/image/upload/f_auto,t...",Delhi Capitals,Right hand Bat,Legbreak Googly,Top order Batter,Ricky Bhui began his career with seven 30-plus...
323,Shams Mulani,"https://img1.hscicdn.com/image/upload/f_auto,t...",Mumbai Indians,Left hand Bat,Slow Left arm Orthodox,Allrounder,
324,Umran Malik,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad,Right hand Bat,Right arm Fast,Bowler,

In [40]:
df_players.to_csv('IPL2024_CSV_FILES/players.csv', index = False)